/* *{
    color: green;
    font-weight: bolder;
} */

/* div {
    width: 250px;
    height: 250px;
    background-color: blue;
    color: white;
} */

#primC{
    width: 250px;
    height: 250px;
    background-color: blue;
    color: white;
}

p {
    color: orange; 
    font-size: 2rem;
}

.caja{
    background-color: rgb(0, 0, 0);
    width: 250px;
    height: 250px;
    color: white;
}

.otra_caja{
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 255, 0.3);
}

.una_caja_mas{
    width: 250px;
    height: 250px;
    background-color: #4db7b7;
}

.capibara{
    width: 250px;
    height: 250px;
    background-color: hsla(180, 100%, 90%, 0.5);
}

#SoyUnico{
    width: 250px;
    height: 250px;
    background-color: aqua;
}

a[title]{
    color: red;
}

button:hover{
    background-color: white;
    color: black;
    font-size: 20px;
}

input[type="text"]:disabled{
    background-color: yellow;
    color: black;
}

.padre p::first-line{
    color: green;
}

.padre p::first-letter{
    color: red;
    font-size: 45px;
}

.capibara1, .capibara2, .capibara3{
    width: 100px;
    height: 100px;
    background-color: violet;
    margin: 5px;
}

.padre p{
    color: red;
}

#unico {
    color: red;
}

p#unico.foo{
    color: red;
}

p#unico.foo.bar{
    color: green;
}

p#unico.foo.bar.baz{
    color: lightblue!important;
}

.main{
    color: rebeccapurple;
    border: 2px solid #CCC;
    padding: 1em;
}

.special{
    color: red;
    font-weight: bolder;
}

.rectangulo{
    width: 450px;
    height: 250px;
    background-color: darkgoldenrod;
}

.CajaRelative{
    width: 50%;
    height: 250px;
    background-color: rgb(15, 125, 36);
}

.cajaInterior{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}

.CajaRelative .cajaInterior p{
    font-size: 4rem;
}

body{
    margin: 0;
}

.VP{
    width: 100vw;
    height: 100vh;
    background-color: rgb(231, 231, 79);
}

.ModCaj{
    background-color: salmon;
    width: 250px;
    height: 250px;
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    padding: 25px;;
    /* border-left: 12px solid green;
    border-right: 12px solid green;
    border-top: 12px solid green;
    border-bottom: 12px dashed green; */
    border: 12px solid yellow;
    margin: 25px;
}